#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

override_dh_update_autotools_config:
override_dh_autoreconf:

override_dh_auto_configure:
	install -d obj-${DEB_TARGET_MULTIARCH}
	cd obj-${DEB_TARGET_MULTIARCH} && cmake -DCMAKE_INSTALL_PREFIX=/usr -DINCLUDE_INSTALL_DIR=/usr/include/${DEB_TARGET_MULTIARCH} -DLIB_SUFFIX=/${DEB_TARGET_MULTIARCH} ..

%:
	dh $@ --buildsystem=cmake
