#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

override_dh_update_autotools_config:
override_dh_autoreconf:

override_dh_auto_configure:
	install -d obj-${DEB_TARGET_MULTIARCH}
	cd obj-${DEB_TARGET_MULTIARCH} && cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_C_COMPILER=/usr/bin/${DEB_TARGET_GNU_TYPE}-gcc -DCMAKE_CXX_COMPILER=/usr/bin/${DEB_TARGET_GNU_TYPE}-g++ -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_INSTALL_INCLUDEDIR=include/${DEB_TARGET_MULTIARCH} -DCMAKE_INSTALL_LIBDIR=lib/${DEB_TARGET_MULTIARCH} -DENABLE_SSL=ON -DENABLE_TCP_TLS=ON ..

%:
	dh $@ --buildsystem=cmake
